<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
    {% block main_menu %}
    <input id="main_menu_toggle" type="checkbox"/>
    <nav id="main_menu">
        <ul>
        {% for link in get_main_menu() recursive %}
        <li><a href="{{link.href}}">{{link.name}}</a></li>
            {% if link.submenu %}
            <ul>{{loop(link.submenu)}}</ul>
            {% endif %}
        {% endfor %}
        </ul>
        <label for="main_menu_toggle">Colapse/Expand Menu</label>
    </nav>
    {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
