{% extends "base.html" %}
{% block title %}{{community_name}} Directory{% endblock %}
{% block body_id %}directory{% endblock %}
{% block body %}
    <main>
        <h1>{{community_name}} Directory</h1>
        <details>
            <summary>Display Options</summary>
            <form method="GET">
                <input type="hidden" name="p" value="{{page}}"/>
                <label>Hide Vacant Units
                <input type="checkbox" name="hide_vacant"
                {% if hide_vacant %}checked{% endif %}/>
                </label>
                <button>Refresh</button>
            </form>
        </details>
        <table>
            <thead><tr>
                <th>Unit</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr></thead>
            {% for listing in listings %}
            <tr>
                <td rowspan="{{listing.occupants|count or 1}}">
                {% if show_street %}
                {{listing.street}}<br/>
                {% endif %}
                {% if listing.unit_no %}
                {{listing.unit_no}}
                {% endif %}
                </td>
            {% if listing.occupants %}
                {% for resident in listing.occupants %}
                <td>{{resident.personal_name}} {{resident.family_name}}</td>
                <td>{{resident.phone or ""}}</td>
                <td>{{resident.email or ""}}</td>
                {% if not loop.last %}
                </tr>
                <tr>
                {% endif %}
                {% endfor %}
            {% else %}
                <td colspan="3">Vacant</td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}
