{% extends "base.html" %}
{% block title %}Edit Groups{% endblock %}
{% block body_id %}edit-groups{% endblock %}
{% block body %}
<main>
  <h1>Edit Groups</h1>
  <h2>Current Groups</h2>
    <table>
      <thead><tr>
        <th>Name</th>
        <th></th>
      </tr></thead>
      {% for group in groups %}
      <tr>
        <td>{{group.name}}</td>
        <td><form method="post">
          <input type="hidden" name="delete_id" value="{{group.id}}"/>
          <button>Delete</button>
        </form></td>
      </tr>
      {% endfor %}
    </table>
</main>
{% endblock %}

