{% extends "base.html" %}
{% block title %}Edit Authorizations{% endblock %}
{% block body_id %}edit-authorizations{% endblock %}
{% block body %}
<main>
  <h1>Edit Authorizations</h1>
  <h2>Current Authorizations</h2>
    <table>
      <thead><tr>
        <th>Name</th>
        <th>Abilities</th>
        <th>Positions</th>
        <th></th>
      </tr></thead>
      {% for auth in authorizations %}
      <tr>
        <td>{{auth.name}}</td>
        <td>{{auth.print_permissions()}}</td>
        <td>{% for pos in auth.positions %}
          {{pos.name}}{% if not loop.last %}, {% endif %}
        {%endfor%}</td>
        <td>
          {% if True %}
          <a href="{{url_for('.edit_single_authorization', auth_id=auth.id)}}">Edit</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <h2>Create New Authorization</h2>
    <form method="post" action="{{url_for('.create_new_authorization')}}">
        <label>Name:<input name="name" required></label>
        <label>Delegated by:<select name="parent_id">
          {% for parent in parents %}
            <option value="{{parent.id}}">{{parent.name}}</option>  
          {% endfor %}
        </select></label>
        <fieldset>
        {% for member in perms %}
          <label>{{member.name}}:<input type="checkbox" name={{member.name}} value={{member.value}}></label>
        {% endfor %}
        </fieldset>
        <button>Create</button>
    </form>
</main>
{% endblock %}

